<article class="request-card">
  <section class="card-image" style="background-image: url({{#if (fromTo from.userType)}}{{to.profilePicture}}{{else}}{{from.profilePicture}}{{/if}}">
  </section>
  <section class="card-info">
    <h1>{{#if (fromTo from.userType)}}<a href="/users/{{to._id}}/?type={{to.userType}}">{{to.name}}</a>{{else}}<a href="/users/{{from._id}}/?type={{from.userType}}">{{from.name}}</a>{{/if}} </h1>
    <p>{{#if (fromTo from.userType)}}{{to.location}}{{else}}{{from.location}}{{/if}}</p>
    {{#unless (bandLikeState from.userType)}}<p class="cap purple-border">{{status}}</p>{{/unless}}
  </section>
  {{#if (fromTo from.userType)}}
    <p>sent</p>
    {{#if (containsMessage message)}}<button><i class="far fa-envelope"></i></button>{{/if}}
  {{else}}
    {{#if (bandLike from.userType)}}
      <p>LIKE!</p>
      {{#if (containsMessage message)}}<button><i class="far fa-envelope"></i></button>{{/if}}
    {{else}}
      <section class="card-buttons">
        <div class="responses">
          <form action="/requests/response/{{_id}}" method="POST">
            <button class="accept" type="submit" name="accept" value="accepted">
              <i class="fas fa-check"></i>
            </button>
            <button class="reject" type="submit" name="reject" value="rejected">
              <i class="fas fa-times"></i>
            </button>
          </form>
        </div>
        {{#if (containsMessage message)}}<button><i class="far fa-envelope"></i></button>{{/if}}
      </section>
    {{/if}}
  {{/if}}
</article>
