<article class="card-container" id="/users/{{this._id}}/?type={{this.userType}}">
  <img src="{{profilePicture}}" alt="Profile picture of {{name}}">
  <div>
    <p>{{name}}</p>
    <p>{{rating}} of {{reviewers}}</p>
    <p>{{tagLine}}</p>
  </div>
</article>
