<article class="card-container" id="/users/{{this._id}}/?type={{this.userType}}">
  <div class="image-wrapper" style="background-image: url({{profilePicture}})"></div>
  <div>
    <h2>{{name}}</h2>
    <p>{{tagLine}}</p>
    <p>A {{this.userType}} in {{this.location}}</p>
    <section class="genres">
      <p>{{this.genre.[0]}}</p>
    </section>
  </div>
</article>
