<section class="main-section" id="edit-profile">
  <form action="/profile/edit" method="POST" enctype="multipart/form-data">
    <section class="image-section">
      <div class="image-wrapper" style="background-image: url({{currentUser.profilePicture}}">
      </div>
      <input class="input-file" type="file" name="edit-photo" id="edit-photo" />
    </section>
    <label class="title" for="name">Name:</label>
    <input type="text" name="name" id="name" value="{{currentUser.name}}">

    <label class="title" for="tagLine">Tagline:</label>
    <input type="text" name="tagLine" id="tagLine" value="{{currentUser.tagLine}}"
      placeholder="A catchy phrase about you">

    <label class="title" for="location">Location:</label>
    <input class="cap" type="text" name="location" id="location" value="{{currentUser.location}}"
      placeholder="Barcelona">

    <label class="title" for="description">Description:</label>
    <input type="text" name="description" id="description" value="{{currentUser.description}}"
      placeholder="Tell the world about you">

    {{#if hasAddress}}
    <label class="title" for="address">Address:</label>
    <input type="text" name="address" id="address" value="{{currentUser.address}}" placeholder="St Name, 123">
    {{/if}}

    <label class="title" for="genres">Genres:</label>
    <section class="genres-select">
      <select name="genres" id="genres">
        {{#each genreList}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
      <a class="add-genre-button">add</a>
    </section>
    <div class="genre-container">
      {{#if currentUser.genre}}
      {{#each currentUser.genre}}
      <button class="genre" type="button">{{this}}</button>
      {{/each}}
      {{/if}}
    </div>
    <input class="genre-list" type="text" name="genreList" id="genreList">
    <hr>
    <p class="title">Change password</p>
    <section class="edit-password">
      <input type="password" name="password" id="password1" placeholder="New password">
      <input type="password" name="rePassword" id="re-password" placeholder="Repeat password">
      {{#if data}}{{data.password}}{{/if}}
      {{#if data}}{{data.differentPasswords}}{{/if}}
    </section>
    <section class="save">
      <button type="submit">Save</button>
      <a href="/profile">Cancel</a>
    </section>
  </form>
</section>


<script src="../javascripts/updateImage.js"></script>