<section class="edit-profile">
  <form action="/profile/edit" method="POST" enctype="multipart/form-data">
    <div class="image-wrapper red-border">
      <img src="{{currentUser.profilePicture}}" alt="{{currentUser.name}}">
      <input type="file" name="photo" />
    </div>

    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="{{currentUser.name}}">

    <label for="tagline">Tagline:</label>
    <input type="text" name="tagline" id="tagline" value="{{currentUser.tagLine}}"
      placeholder="A catchy phrase about you">

    <label for="location">Location:</label>
    <input type="text" name="location" id="location" value="{{currentUser.location}}" placeholder="Barcelona">

    <label for="description">Description:</label>
    <input type="text" name="description" id="description" value="{{currentUser.description}}"
      placeholder="Tell the world about you">

    {{#if currentUser.address}}
    <label for="address">Address:</label>
    <input type="text" name="address" id="address" value="{{currentUser.address}}" placeholder="St Name, 123">
    {{/if}}

    <label for="genres">Genres:</label>
    <select name="genres" id="genres">
      {{#each genres}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    <button type="submit">Save</button>
    <a href="/profile">Cancel</a>
  </form>
</section>
