<section class="edit-profile">
  <form action="/profile/edit" method="POST" enctype="multipart/form-data">
    <div class="image-wrapper red-border">
      <img src="{{currentUser.profilePicture}}" alt="{{currentUser.name}}">
    </div>
    <input class="input-file" type="file" name="edit-photo" id="edit-photo" />
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="{{currentUser.name}}">

    <label for="tagLine">Tagline:</label>
    <input type="text" name="tagLine" id="tagLine" value="{{currentUser.tagLine}}"
      placeholder="A catchy phrase about you">

    <label for="location">Location:</label>
    <input type="text" name="location" id="location" value="{{currentUser.location}}" placeholder="Barcelona">

    <label for="description">Description:</label>
    <input type="text" name="description" id="description" value="{{currentUser.description}}"
      placeholder="Tell the world about you">

    {{#if hasAddress}}
    <label for="address">Address:</label>
    <input type="text" name="address" id="address" value="{{currentUser.address}}" placeholder="St Name, 123">
    {{/if}}

    <label for="genres">Genres:</label>
    <select name="genres" id="genres">
      {{#each genreList}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    <a class="add-genre-button">add</a>
    <div class="genre-container">
      {{#if currentUser.genre}}
        {{#each currentUser.genre}}
          <button type="button">{{this}}</button>
        {{/each}}
      {{/if}}
    </div>
    <input class="genre-list" type="text" name="genreList" id="genreList">


    <div class="edit-password">
      <label for="password1">Change password:</label>
      <input type="password" name="password" id="password1">
    </div>
    <div class="edit-password">
      <label for="re-password">Repeat new password:</label>
      <input type="password" name="rePassword" id="re-password">
    </div>
    {{#if data}}{{data.password}}{{/if}}
     {{#if data}}{{data.differentPasswords}}{{/if}}
    <button type="submit">Save</button>
    <a href="/profile">Cancel</a>
  </form>
</section>


<script src="../javascripts/updateImage.js"></script>

