<section class="main-section" id="home-section">
  <h1>{{title}}</h1>
  {{#if currentUser}}
    <div class="searchbox-container">
      <form action="/users/" method="GET">
        <label for="genre">Genres</label>
        <select name="genre" id="genre">
          {{#each genreList}}
          <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
        <label for="location">Location</label>
        <input type="text" name="location" id="location">
        <button type="submit">Search</button>
      </form>
    </div>
    <div  class="suggestions-container">
      <h1>Recomended</h1>
      {{#each searchResult}}
      <p><a href="/users/{{this._id}}/?type={{this.userType}}">{{this.name}}</a></p>
      {{/each}}
    </div>
  {{else}}
    <div class="search-top-buttons">
      <a class="searchbox-button band">Find a band</a>
      <a class="searchbox-button stage">Find a stage</a>
    </div>
    <div class="searchbox-container">
      <div class="search-band">
          <form action="/users/type/band" method="GET">
            <label for="genre">Genres</label>
            <select name="genre" id="genre">
              {{#each genreList}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <label for="location">Location</label>
            <input type="text" name="location" id="location">
            <button type="submit">Search Band</button>
          </form>
        </div>
          <div class="search-stage hidden">
          <form action="/users/type/stage" method="GET">
            <label for="genre">Genres</label>
            <select name="genre" id="genre">
              {{#each genreList}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <label for="location">Location</label>
            <input type="text" name="location" id="location">
            <button type="submit">Search Stage</button>
        </form>
      </div>
    </div>
    <div class="suggestions-container">
      <div class="suggestions-band">
        <h1>Recomended Bands</h1>
        {{#each searchResultBand}}
          {{> userCard}}
        {{/each}}
      </div>
      <div class="suggestions-stage hidden">
        <h1>Recomended Stages</h1>
        {{#each searchResultStage}}
          {{> userCard}}
        {{/each}}
      </div>
    </div>
  {{/if}}
</section>

<script src='../javascripts/searchBox.js'></script>