<section class="main-section" id="sign-up-in">
  <h1>Login</h1>
  <form class="sign-up-in-form" action="/auth/login" method="POST">
    <label for="email">Username</label>
    <input type="email" name="email" id="email" placeholder="Email" value="{{emailFilled}}">
    {{#if email}} <small>{{email}}</small> {{else}} <small>{{validEmail}}</small> {{/if}}
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password">
    {{#if password}} <small>{{password}}</small> {{/if}}
    {{#if notUser}} <small>{{notUser}}</small> {{/if}}
    {{#if invalidMailPassword}} <small>{{invalidMailPassword}}</small> {{/if}}
    <button type="submit">Login</button>
  </form>
  <p>or <a href="/auth/signup">Signup</a></p>
</section>