<section class="main-section" id="user-profile">
  <header class="user-header">
    <section class="user-image">
      <div class="image-wrapper" style="background-image: url({{currentUser.profilePicture}}">
      </div>
    </section>
    <section class="user-summary">
      <section class="user-buttons">
        <a href='/profile/edit'><i class="fas fa-pen"></i></a>
        <form action="/auth/logout" method="POST">
          <button type="submit">Logout</button>
        </form>
      </section>
      <h1>{{currentUser.name}} </h1>
      <p>{{currentUser.rating}} by {{currentUser.reviewers}}</p>
      <p>{{currentUser.tagLine}}</p>
    </section>
  </header>
  <hr>
  <p><span class="title">Description:</span> {{currentUser.description}}</p>
  <p class="cap"><span class="title">Location:</span> {{currentUser.location}}</p>
  {{#if hasAddress}}
  <p><span class="title">Address:</span> {{currentUser.address}}</p>
  {{/if}}
  <section class="user-genres">
    <p><span class="title">Genres:</span></p>
    {{#each currentUser.genre}}
    <span class="genres">{{this}}</span>
    {{/each}}
  </section>
  {{#if currentUser.otherLocations}}
  <section class="user-other-locations">
    {{#each currentUser.otherLocations}}
    <p>{{this.city}}: {{this.startDate}} - {{this.endDate}}</p>
    {{/each}}
  </section>
  {{/if}}
</section>