<section class="personal-profile">
  <header class="profile-header">
    <div class="image-wrapper red-border">
      <img src="{{currentUser.profilePicture}}" alt="{{currentUser.name}}">
    </div>
    <section>
      <h1>{{currentUser.name}}<a href='/profile/edit'><i class='far fa-edit'></i></a></h1>
      <p>{{currentUser.rating}} by {{currentUser.reviewers}}</p>
      <p>{{currentUser.tagLine}}</p>
    </section>
  </header>
  <hr>
  <p>{{currentUser.description}}</p>
  <p>{{currentUser.location}}</p>
  {{#if currentUser.address}}
  <p>{{currentUser.address}}</p>
  {{/if}}
  <p>Genres:</p>
  <section class="profile-genres">
    {{#each currentUser.genres}}
    <p>{{this}}</p>
    {{/each}}
  </section>
  {{#if currentUser.otherLocations}}
  <section class="profile-other-locations">
    {{#each currentUser.otherLocations}}
    <p>{{this.city}}: {{this.startDate}} - {{this.endDate}}</p>
    {{/each}}
  </section>
  {{/if}}
</section>