<section class="main-section" id="personal-profile">
  <header class="user-header">
    <section class="user-image">
      <div class="image-wrapper" style="background-image: url({{currentUser.profilePicture}}">
      </div>
    </section>
    <section class="user-summary">
      <section class="user-buttons">
        <a href='/profile/edit'><i class="fas fa-pen"></i></a>
        <form action="/auth/logout" method="POST">
          <button type="submit">Logout</button>
        </form>
      </section>
      <h1>{{currentUser.name}} </h1>
      <p>{{currentUser.rating}} by {{currentUser.reviewers}}</p>
      <p>{{currentUser.tagLine}}</p>
    </section>
  </header>
  <hr>
  <p>Description: {{currentUser.description}}</p>
  <p>Location: {{currentUser.location}}</p>
  {{#if hasAddress}}
  <p>Address: {{currentUser.address}}</p>
  {{/if}}
  <p>Genres:</p>
  <section class="user-genres">
    {{#each currentUser.genre}}
    <p>{{this}}</p>
    {{/each}}
  </section>
  {{#if currentUser.otherLocations}}
  <section class="user-other-locations">
    {{#each currentUser.otherLocations}}
    <p>{{this.city}}: {{this.startDate}} - {{this.endDate}}</p>
    {{/each}}
  </section>
  {{/if}}
</section>