<section class="personal-profile">
  <header class="profile-header">
    <div class="image-wrapper red-border">
      <img src={{#if currentUser.profilePicture}} {{currentUser.profilePicture}}
        {{else}}"../images/image-not-found.jpg"{{/if}} alt="Profile picture for {{currentUser.name}}">
    </div>
    <section class="profile-summary">
      <section class="profile-buttons">
        <a href='/profile/edit'><i class="fas fa-pen"></i></a>
        <form action="/auth/logout" method="POST">
          <button type="submit">Logout</button>
        </form>
      </section>
      <h1>{{currentUser.name}} </h1>
      <p>{{currentUser.rating}} by {{currentUser.reviewers}}</p>
      <p>{{currentUser.tagLine}}</p>
    </section>
  </header>
  <hr>
  <p>Description: {{currentUser.description}}</p>
  <p>Location: {{currentUser.location}}</p>
  {{#if hasAddress}}
  <p>Address: {{currentUser.address}}</p>
  {{/if}}
  <p>Genres:</p>
  <section class="profile-genres">
    {{#each currentUser.genre}}
    <p>{{this}}</p>
    {{/each}}
  </section>
  {{#if currentUser.otherLocations}}
  <section class="profile-other-locations">
    {{#each currentUser.otherLocations}}
    <p>{{this.city}}: {{this.startDate}} - {{this.endDate}}</p>
    {{/each}}
  </section>
  {{/if}}
</section>