<section id="sign-up-in">
  <h1>Sign Up</h1>
  <form class="sign-up-in-form" autocomplete="off" action="/auth/signup" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="your name" value="{{nameFilled}}">
    {{#if name.length}}<small>{{name}}</small>{{/if}}
    <label for="email">Email</label>
    <input type="text" name="email" id="email" placeholder="example@mail.com" value="{{emailFilled}}">
    {{#if emailExist}} <small>{{emailExist}}</small> {{/if}}
    {{#if email}} <small>{{email}}</small> {{else}} <small>{{validEmail}}</small> {{/if}}
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="your password">
    {{#if password}} <small>{{password}}</small> {{else}} <small>{{validPassword}}</small> {{/if}}
    <label for="location">Location</label>
    <input type="text" name="location" id="location" placeholder="Barcelona"  value="{{locationFilled}}">
    {{#if location}} <small>{{location}}</small> {{/if}}
    <section class="radio-buttons">
      <p>You are signin up as </p>
      <input type="radio" id="band" name="userType" value="band" checked>
      <label for="band">Band</label>
      <input type="radio" id="stage" name="userType" value="stage">
      <label for="stage">Stage</label>
    </section>
    <button type="submit">Signup</button>
  </form>
  <p>or <a href="/auth/login">Login</a></p>
</section>