<section class="main-section" id="user-profile">
  <header class="user-header">
    <section class="user-image">
      <div class="image-wrapper" style="background-image: url({{user.profilePicture}}">
      </div>
    </section>
    <section class="user-summary">
      <h1>{{user.name}} </h1>
      <p>{{user.rating}} by {{user.reviewers}}</p>
      <p>{{user.tagLine}}</p>
      <button class="request-button" id="{{currentUser}}">
        {{#if allowRequest}}
        Send a Request
        {{else}}
        I like this!
        {{/if}}
      </button>
    </section>
  </header>
  <hr>
  <p><span class="title">Description:</span> {{user.description}}</p>
  <p><span class="title">Location:</span> {{user.location}}</p>
  {{#if hasAddress}}
  <p><span class="title">Address:</span> {{user.address}}</p>
  {{/if}}
  <section class="user-genres">
    <p><span class="title">Genres:</span></p>
    {{#each user.genre}}
    <span class="genres">{{this}}</span>
    {{/each}}
  </section>
  {{#if user.otherLocations}}
  <section class="profile-other-locations">
    {{#each user.otherLocations}}
    <p>{{this.city}}: {{this.startDate}} - {{this.endDate}}</p>
    {{/each}}
  </section>
  {{/if}}
</section>
{{> requestPopup}}
<script src="/javascripts/popupHelper.js"></script>